body{
    margin: 0;
}

h1{
    color: white;
    margin: 0;
    float: left;
}

a{
    color: white;
}

.home{
    padding-top: 20px;
    background-image: url('shrek.jpg');
    background-size: 100%;
    height: 600px;
}

.header{
    text-align: right;
    color: white;
    font-size: 24px;
}

.item-menu{
    padding: 25px;
}

.sobre{
    width: 80%;
    margin: auto;
}

.habilidade{
    width: 33.1%;
    background-color: black;
    float: left;
    height: 70px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 70px 0px;
    border: 1px solid white;
}

.contato{
    width: 80%;
    margin: auto;
}

input{
    width: 100%;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #aaa;
}
